* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    width: 100%;
    height: 100%;
}

.nav {
    width: 20%;
    height: 100%;
    overflow-y: auto;
    background-color: #006599;
    color: black;
    text-align: center;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 21px;
    padding: 0 15px;
}

.head h1 {
    color: white;
    text-align: center;
    font-size: 27px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.cnav ul li {
    text-align: center;
    list-style: none;
    margin-bottom: 10px;
    padding: 1px 0px;
}

.cnav ul li a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    transition: .2s;
}

.cnav ul li a:hover {
    color: yellow;
    font-size: 27px;
    cursor: pointer;
}

.content {
    width: 80%;
}

.content .test {
    width: 100%;
}

.content .test>img {
    width: 100%;
    height: 100vh;
}



.t1 h2 {
    text-align: center;
    font-size: 35px;
    color: #006599;
    margin: 15px 0px;
}

.t1 table {
    border-style: solid;
    text-align: center;
    font-size: 25px;
    color: #006599;
    border-color: #006599;
    margin-bottom: 50px;
    width: 80%;
    margin: auto;
}

.t1 table tr td {
    padding: 10px 5px;
}

.footer h2 {
    font-size: 40px;
    text-align: center;
    color: #006599;
    /* margin-right: 270px; */
}


.footer p {
    color: #006599;
    font-size: 28px;
    /* margin-right: 300px; */
    text-align: center;
}
.footer img {
    width: 5%;
    height: 70px;
    text-align: center;
    margin-left: 20%;
   
}

@media (max-width:875px) {
    .t1 table {
        font-size: 18px;
    }

    .t1 h2 {
        font-size: 30px;
    }
    .content .test>img {
        width: 100%;
        height: 50vh;
    }
    .cnav ul li {
        padding: 100px 0px;
        margin-bottom: 50px;
    }
    .cnav ul li a{
        font-size: 30px;
    }
    .nav {
        width: 30%;
    }

    
    .content {
        width: 70%;
    }
    .footer p {
        font-size: 25px;
    }
  
}

@media (max-width:600px) {
    .t1 table {
        font-size: 16px;
    }
    .cnav ul li {
        padding: 100px 0px;
        margin-bottom: 50px;
    }
    .cnav ul li a {
        font-size: 30px;
      
    }
    .content .test>img {
        width: 100%;
        height: 50vh;
    }
    .cnav ul li a:hover {
        font-size: 25px;
    }
    .footer p {
        font-size: 25px;
    }
   
}

